In [1]:
import pandas as pd
import os

In [4]:
df = pd.DataFrame()
path = "data/"
directory = os.fsencode(path)

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".csv") and filename.startswith("ntee_codes")==False: 
        print("Loading file: " + filename)
        temp = pd.read_csv(path+filename)
        df = df.append(temp, ignore_index = True)

Loading file: eo_pr.csv
Loading file: eo1.csv
Loading file: eo3.csv
Loading file: eo2.csv
Loading file: eo4.csv

In [5]:
df.head()

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
0,10674605,IGLESIA FUENTE DE AGUA VIVA ORLANDO FL INC,% RODOLFO O FONT,PO BOX 3869,CAROLINA,PR,00984-3869,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,X20,NaN
1,20533102,PATHSTONE CORPORATION,NaN,VILLA NEVAREZ CALLE 5 STE 1122,SAN JUAN,PR,00927-0000,9113,3,9,...,0,0,1,0,9,NaN,NaN,NaN,NaN,PARQUE PLATINO INC
2,43700254,IGLESIA EVANGELICA MISIONERA FUERZA AGAPE,% ROBERT RANSOM,PO BOX 580,SAN ANTONIO,PR,00690-0580,2046,3,9,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
3,60602997,TITI MILLIE DAY CARE INC,NaN,PO BOX 1347,GUANICA,PR,00653-1347,0,3,3,...,3,4,1,0,9,91135.0,306278.0,306278.0,P33,NaN
4,113503195,SAAC CORP,% SIGFREDO AQUADO DE LA CRUZ,1357 AVE ASHFORD PMB 379,SAN JUAN,PR,00907-1400,0,3,3,...,1,0,2,0,12,1.0,0.0,0.0,L20,NaN

In [6]:
df.rename(columns = {"NTEE_CD":'code'},inplace=True) # for a later join

ntee = pd.read_csv('data/ntee_codes.csv')
## Left join on 'code' column
datamerge = pd.merge(df, ntee, on='code',how='left')

datamerge.head()

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,code,SORT_NAME,description,category
0,10674605,IGLESIA FUENTE DE AGUA VIVA ORLANDO FL INC,% RODOLFO O FONT,PO BOX 3869,CAROLINA,PR,00984-3869,0,3,3,...,6,0,12,NaN,NaN,NaN,X20,NaN,Christianity,religious
1,20533102,PATHSTONE CORPORATION,NaN,VILLA NEVAREZ CALLE 5 STE 1122,SAN JUAN,PR,00927-0000,9113,3,9,...,1,0,9,NaN,NaN,NaN,NaN,PARQUE PLATINO INC,NaN,NaN
2,43700254,IGLESIA EVANGELICA MISIONERA FUERZA AGAPE,% ROBERT RANSOM,PO BOX 580,SAN ANTONIO,PR,00690-0580,2046,3,9,...,6,0,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,60602997,TITI MILLIE DAY CARE INC,NaN,PO BOX 1347,GUANICA,PR,00653-1347,0,3,3,...,1,0,9,91135.0,306278.0,306278.0,P33,NaN,Child Day Care,human_services
4,113503195,SAAC CORP,% SIGFREDO AQUADO DE LA CRUZ,1357 AVE ASHFORD PMB 379,SAN JUAN,PR,00907-1400,0,3,3,...,2,0,12,1.0,0.0,0.0,L20,NaN,Housing Development,housing_shelter

In [7]:
datamerge.to_csv('NTEE_combined.csv')