In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/data_for_viz.csv")

In [7]:
df.dropna(inplace=True,subset=['latitude','longitude'])

In [8]:
# Haversine formula example in Python
# Author: Wayne Dyck
import math

def distance(origin, destination):
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

In [10]:
EIN = 952266749

In [12]:
df['GeoDistance(km)'] = df.apply(lambda x: distance(df.loc[df.EIN == EIN][['latitude','longitude']].values[0].tolist(),[x['latitude'],x['longitude']]), axis=1)

In [14]:
df.head()

,EIN,name,mission,text_labels,text_dist_1,text_dist_2,text_dist_3,text_dist_4,text_dist_5,text_dist_6,...,fin_dist_144,fin_dist_145,fin_dist_146,gross_receipts,revenue,fund_balance,liabilities,topic,geo_labels,GeoDistance(km)
0,42964630,NEIGHBORHOOD OF AFFORDABLE HOUSING INC,develop affordable rental ownership housing in...,24,0.717425,0.603048,0.537046,0.592053,0.916996,0.942119,...,-0.011636,-0.578659,-0.584101,3419944.0,86205.0,2962890.0,2434691.0,"community, service, program, support, family, ...",0,4135.012101
1,522198798,ST JOHNS COMMUNITY SERVICES - PENNSYLVANIA,advancing community support opportunity people...,24,0.899522,0.769775,0.820206,0.746528,0.802352,0.785056,...,-0.081237,-0.436884,-0.442840,332697.0,332197.0,-197745.0,244035.0,"community, service, program, support, family, ...",0,3636.594390
2,135563409,UNITED NEIGHBORHOOD HOUSES OF NEW YORK INC,unh promotes strengthens neighborhood based mu...,24,0.857769,0.711436,0.726596,0.693317,0.874499,0.896044,...,-0.012387,-0.436325,-0.442340,4653389.0,NaN,8746365.0,326555.0,"community, service, program, support, family, ...",0,3892.853803
3,410832480,MINNESOTA COMMUNITY FOUNDATION,mission inspiring generosity strengthen minnes...,24,0.941319,0.869294,0.840262,0.795133,0.880593,0.927298,...,-0.007517,-0.022110,-0.015408,47392487.0,11433.0,252173836.0,1405618.0,"community, service, program, support, family, ...",0,2446.480820
4,20236885,MONADNOCK UNITED WAY INC,monadnock united way dedicated improving life ...,24,0.851422,0.738412,0.727694,0.669578,0.793643,0.826318,...,-0.012689,-0.162215,-0.155607,2149216.0,8521.0,2850774.0,22132.0,"community, service, program, support, family, ...",0,4029.752595